.contact-form {
  position: relative;
  max-width: 700px;
  min-width: 320px;
  background-color: #78a5b8;
  margin: 0 auto 50vh auto;
  border-radius: 40px;
  transform: translateY(40vh);
}

.contact-form > div * {
  width: 80%;
}

.contact-form > div,
.contact-form button {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  box-sizing: border-box;
  padding: 5px 20px;
  border-radius: 20px;
  font-size: 20px;
  color: black;
  background-color: #4a7e97;
  border: 2px #78a5b8 solid;
  transition: border 0.2s ease-in;
}

.contact-form input:hover,
.contact-form textarea:hover,
.contact-form input:focus,
.contact-form textarea:focus {
  border: 2px black solid;
  outline: none;
}

.contact-form ::placeholder {
  color: black;
  text-transform: uppercase;
}

.contact-form > h2 {
  margin: 30px 0;
  text-align: center;
  padding-top: 30px;
  font-size: 60px;
}

.contact-form > button {
  margin: auto;
  margin-top: 40px;
  transform: translateY(-20px);
}

.contact-form button {
  transition: border 0.2s ease-in, background-color 0.2s ease-in,
    color 0.2s ease-in;
}

.contact-form button:hover,
.contact-form button:focus {
  border-color: white;
  background-color: #1c536e;
  color: white;
}

.contact-form button:active {
  transform: translate(2px, -18px);
}

.background-filler {
  position: relative;
  height: 20px;
  z-index: -20;
}

.background-filler img {
  position: absolute;
  aspect-ratio: 16/9;
  width: 100%;
  height: 75vh;
  object-fit: cover;
  object-position: 50% 0%;
}
