main {
  margin-bottom: 50px;
  background-color: white
}

.content {
  margin-top: 10%;
}

.entry {
  background-color: rgb(120, 165, 184);
  padding: 30px;
  border-radius: 10px;
  margin: 20px 0px;
}

.entry img {
  height: auto;
  width: 100%;
}
